<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542557904960-bgga4a06n5jt2q1f6u0g88auscsr6lsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542557904960-bgga4a06n5jt2q1f6u0g88auscsr6lsn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>542557904960-smf1l15reuela3kefoqfpudf7q6cjv9o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjAIRRDv96iQVsVZysUco2uFMS5qbW-Yg</string>
	<key>GCM_SENDER_ID</key>
	<string>542557904960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.mishaduplicate</string>
	<key>PROJECT_ID</key>
	<string>very-new-genai</string>
	<key>STORAGE_BUCKET</key>
	<string>very-new-genai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542557904960:ios:6cbbfd63ba527332e5ffa5</string>
</dict>
</plist>